body {
    /*padding-bottom: 0;*/
    font-family: "Exo", sans-serif!important;
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    /*margin: 0;*/
    /*background: #bc0707 !important;*/
  }
/* main bootstrap hacked */
  h1, h2, h3, h4 {
    margin: 0;

  }

  a {
    text-decoration: none!important;
  }

  a:hover {
    text-decoration: none !important;
  }
  
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }


  .btn-primary {
    color: #304356;
    background: #fafafa;
    border-color: #dfe6e9;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
  }
  
  

  .btn-primary:hover {
    background-color: #dab6ab;
    color: #fff;
    border-color: #dab6ab;
  }
  
  

  
  


/* very top contact bar */
#topHeader {
  border-bottom: 1px solid #ebebeb;
  max-height: 49px;
}
#topHeader a {
    color: #34495e;
    font-weight: 575;
    font-size: 12px;
    text-decoration: none;
  }
/* End  top contact bar */

/* Bottom second header Menu and log */

#bottomHeader {
    color: #fafafa;
  }
.row.second-header {
    background-color: #34495E;
  }
  .logo-image {
    max-width: 300px;
    margin-left: 1px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .navbar {
    background-color: transparent;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }


  .navbar a {
    color: #fafafa;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px 18px;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
  }
  .navbar a:hover {
    color: #dab6ab;
    height: 20px;
  }
  
  .content p {
    text-align: left;
    margin: 10px;
    padding: 10px;
  }

  #toggle {
    display: none;
  }
  
  .togglearea {
    background-color: transparent;
    color: #fafafa;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .togglearea label {
    background-color: #fafafa;
    height: 45px;
    width: 50px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .togglearea label span {
    background-color: black;
    height: 4px;
    width: 70%;
    margin: 2px 0px;
  }
  .togglearea {
    display: none;
  }

  @media screen and (max-width: 900px) {
    .navbar {
      flex-direction: column;
      display: none;
          color: #fafafa;
      text-align: left;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      padding: 4px 18px;
      
    }
    
    
     .togglearea {
      display: flex;
      text-align: left;
    }
    
      #toggle:checked + .navbar {
      display: flex;
      text-align: left;
    }
  }
  .nav-col {
    margin-top: 35px;
  }
  
  /* End Bottom second header Menu and log */



  /*Start: top-mainpage-section */


.top-mainpage-section {
  background-color: #dfe6e9;
}

  .col-front-text {
    padding-top: 24px;
    margin-top: 49px;
    max-height: 224px;
  }
  .read-more {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    font-weight: 600;
  }

.read-more:hover {
  color: #dab6ab;
}

 /*End: top-mainpage-section */


 /* Start of second section Why Us - and the sections with service images. */
 .second-section {
    background-color: #fafafa;
      
  }
  .second-frontpage-row-img {
    max-width: 125px;
  }
  /* End  of second section Why Us - and the sections with service images. */



  /* Start of Have you requirements section */
  .requirement-section {
  background-color: #dfe6e9;
}

/* Ende of Have you requirements section  */

 /* Start of summery-about handtech in frontpage  */

.about-read-more {
    margin-top: -60px;
    position: absolute;
    margin-left: 52px;
  }
  
  .second-main-section > img {
    max-height: 260px;
  }
  
  /* End of summery-about handtech in frontpage  */



/* start of footer  */
.full-footer {
    background-color: rgb(39,58,77);
    color: #fafafa;
  }
  .footer-row {
    width: 100%;
    background: rgb(52,73,94);
  }
  .footer-blocks {
    font-family: "Exo",sans-serif;
    max-width: 96%;
    font-weight: 400;
    text-align: center;
    background: rgba(38,54,69,0.31);
    clear: both;
    height: 200px;
    border-style: solid;
    border-color: #fafafa;
    border-color: rgb(48,73,98);
  }
  .footer-blocks h3 {
    margin-top: 40px;
    color: #fafafa;
  }
  .footer-span {
    color: #fafafa;
    margin-top: 9px;
    display: block;
  }
  
  ul.social-links {
    margin-top: 13px;
    height: 81px;
    padding-top: 0px;
  }
  
  .social-links .list-inline-item {
    padding-top: 18px;
  }
  .social-links i:hover {
    color: #dab6ab;
  }
  
  .social-links li a i {
    color: #fafafa;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    padding: 2px 0;
    width: 31px;
    height: 39px;
    border-radius: 50%;
  }
  
  .social-links li a i {
    color: #fafafa;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    padding: 2px 0;
    width: 31px;
    height: 39px;
    border-radius: 50%;
  }
  
  
  
  .map-fa {
    color: #fafafa;
    font-size: 18px;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    text-align: left;
  }
  .map-fa:hover {
    color: #dab6ab;
  }
  
  
  .span-email:hover {
    color: #dab6ab;
  }
  
  .span-email {
    padding-bottom: 12px;
    margin-top: 15px;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
  }
  
  
  
  



/* End of the footer  */