@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    /*padding-bottom: 0;*/
    font-family: "Exo", sans-serif!important;
  
      margin: 0;
      padding: 0;
      min-height: 100%;
    }

  
/* main bootstrap hacked */
  h1, h2, h3, h4 {
    margin: 0;

  }

  a {
    text-decoration: none!important;
  }

  a:hover {
    text-decoration: none !important;
  }
  
  
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }


  .btn-primary {
    color: #304356;
    background: #fafafa;
    border-color: #dfe6e9;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
  }
  
  

  .btn-primary:hover {
    background-color: #dab6ab;
    color: #fff;
    border-color: #dab6ab;
  }
  
  
.active {
  background:#dfe6e9;

  
}

.navbar  .active a {
  color: #34495e;
}
  
.navbar  .active a:hover {
  color: #34495e;
} 


/* very top contact bar */
#topHeader {
  border-bottom: 1px solid #ebebeb;
  max-height: 49px;
}
#topHeader a {
    color: #34495e;
    font-weight: 600;
    font-size: 12px;
    text-decoration: none;
  }
/* End  top contact bar */

/* Bottom second header Menu and log */

#bottomHeader {
    color: #fafafa;
  }
.row.second-header {
    background-color: #34495E;
  }
  .logo-image {
    max-width: 300px;
    margin-left: 1px;
    margin-top: 10px;
    padding-bottom: 10px;
  }
  .navbar {
    background-color: transparent;
    display: flex;
    justify-content: center;
    list-style-type: none;
  }


  .navbar a {
    color: #fafafa;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 4px 18px;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
  }
  .navbar a:hover {
    color: #dab6ab;
    height: 20px;
  }
  
  .content p {
    text-align: left;
    margin: 10px;
    padding: 10px;
  }

  #toggle {
    display: none;
  }
  
  .togglearea {
    background-color: transparent;
    color: #fafafa;
    padding: 10px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .togglearea label {
    background-color: #fafafa;
    height: 45px;
    width: 50px;
    color: black;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .togglearea label span {
    background-color: black;
    height: 4px;
    width: 70%;
    margin: 2px 0px;
  }
  .togglearea {
    display: none;
  }

  @media screen and (max-width: 900px) {
    .navbar {
      flex-direction: column;
      display: none;
          color: #fafafa;
      text-align: left;
      font-weight: bold;
      text-decoration: none;
      text-transform: uppercase;
      padding: 4px 18px;
      
    }
    
    
     .togglearea {
      display: flex;
      text-align: left;
    }
    
      #toggle:checked + .navbar {
      display: flex;
      text-align: left;
    }
  }
  .nav-col {
    margin-top: 35px;
  }
  
  /* End Bottom second header Menu and log */



  /*Start: top-mainpage-section */


.top-mainpage-section {
  background-color: #dfe6e9;
}

  .col-front-text {
    padding-top: 24px;
    margin-top: 49px;
    max-height: 224px;
  }
  .read-more {
    font-size: 12px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    font-weight: 600;
  }

.read-more:hover {
  color: #dab6ab;
}

 /*End: top-mainpage-section */


 /* Start of second section Why Us - and the sections with service images. */
 .second-section {
    background-color: #fafafa;
      
  }
  .second-frontpage-row-img {
    max-width: 125px;
  }
  /* End  of second section Why Us - and the sections with service images. */



  /* Start of Have you requirements section */
  .requirement-section {
  background-color: #dfe6e9;
}

/* Ende of Have you requirements section  */

 /* Start of summery-about handtech in frontpage  */

.about-read-more {
    margin-top: -60px;
    position: absolute;
    margin-left: 52px;
  }
  
  .second-main-section > img {
    max-height: 260px;
  }
  
  /* End of summery-about handtech in frontpage  */



/* start of footer  */
.full-footer {
    background-color: rgb(39,58,77);
    color: #fafafa;
    bottom: 0 !important;
  }
  .footer-row {
    width: 100%;
    background: rgb(52,73,94);
    
  }
  .footer-blocks {
    font-family: "Exo",sans-serif;
    max-width: 96%;
    font-weight: 400;
    text-align: center;
    background: rgba(38,54,69,0.31);
    clear: both;
    height: 200px;
    border-style: solid;
    border-color: #fafafa;
    border-color: rgb(48,73,98);
  }
  .footer-blocks h3 {
    margin-top: 40px;
    color: #fafafa;
  }
  .footer-span {
    color: #fafafa;
    margin-top: 9px;
    display: block;
  }
  
  ul.social-links {
    margin-top: 13px;
    height: 81px;
    padding-top: 0px;
  }
  
  .social-links .list-inline-item {
    padding-top: 18px;
  }
  .social-links i:hover {
    color: #dab6ab;
  }
  
  .social-links li a i {
    color: #fafafa;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    padding: 2px 0;
    width: 31px;
    height: 39px;
    border-radius: 50%;
  }
  
  .social-links li a i {
    color: #fafafa;
    text-align: center;
    line-height: 70px;
    font-size: 36px;
    padding: 2px 0;
    width: 31px;
    height: 39px;
    border-radius: 50%;
  }
  
  
  
  .map-fa {
    color: #fafafa;
    font-size: 18px;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    text-align: left;
  }
  .map-fa:hover {
    color: #dab6ab;
  }
  
  
  .span-email:hover {
    color: #dab6ab;
  }
  
  .span-email {
    padding-bottom: 12px;
    margin-top: 15px;
    transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
  }

/* copyright */
  .parag-copy {
  
    font-size: 10px;
   
    height:12px;
    text-align: center;
    padding-top: 6px;
  }
  
  
  
/* End of the footer  */


/* about page  */

/* Breadcrumb */
.breadcrumb-section {
  background-color: #dfe6e9;
}
.breadcrumb-item li a {
  text-decoration: none;
  list-style: none;
  color: gray;
  font-size: .75rem;
}

/* end of breadcrumb  */

/* team4 contact page  */

.py-5 {
  background: #fafafa;
}

.team4 {
  font-family: "Montserrat", sans-serif;
  color: #8d97ad;
  font-weight: 300;
}

.team4 h1, .team4 h2, .team4 h3, .team4 h4, .team4 h5, .team4 h6 {
  color: #3e4555;
}

.team4 .font-weight-medium {
  font-weight: 500;
}

.team4 h5 {
  line-height: 22px;
  font-size: 18px;
}

.team4 .subtitle {
  color: #8d97ad;
  line-height: 24px;
  font-size: 13px;
}

.team4 ul li a {
  color: #8d97ad;
  background: #fafafa;
  padding-right: 15px;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
}

.team4 ul li a:hover {
  -webkit-transform: translate3d(0px, -5px, 0px);
  transform: translate3d(0px, -5px, 0px);
  color: #dab6ab;
}

.rounded-circle {
  max-height: 196px;
}

.contact-section {
  background-color: #fafafa;
}

/* End of contact team   */

/* contact form  */
.contact-clean {
  background: #f1f7fc;
  padding: 80px 0;
}



.contact-clean form {
  max-width: 480px;
  width: 90%;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 4px;
  color: #505e6c;
  box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
}



.contact-clean h2 {
  margin-top: 5px;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 36px;
  color: inherit;
}

.contact-clean form .form-control {
  background: #fff;
  border-radius: 2px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.05);
  outline: none;
  color: inherit;
  padding-left: 12px;
  height: 42px;
}

.contact-clean form .form-control:focus {
  border: 1px solid #b2b2b2;
}

.contact-clean form textarea.form-control {
  min-height: 100px;
  max-height: 260px;
  padding-top: 10px;
  resize: vertical;
}

.contact-clean form .btn {
  padding: 16px 32px;
  border: none;
  background: none;
  box-shadow: none;
  text-shadow: none;
  opacity: 0.9;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: 0.4px;
  line-height: 1;
  outline: none !important;
}

.contact-clean form .btn:hover {
  opacity: 1;
}

.contact-clean form .btn:active {
  transform: translateY(1px);
}

.contact-clean form .btn-primary {
  background-color: #055ada !important;
  margin-top: 15px;
  color: #fff;
}


/* End of contact form  */


/* portfolio page  */

.second-main-p2 {
  margin-top: -41px;
  margin-bottom: -34px;
}

.portfolio-paragraph {
  margin-top: 6px;
}

/* End of portfolio  */

/* Very small mobile  */
@media (min-width: 360px) {
  .requirerment-col {
    text-align: left!important;
    display: inline-block;
 }




}

@media (max-width: 576px) {
  .footer-block-location {
  text-align: center!important;
  }

  .button-colm {
    text-align: center!important;
    margin-top: 28px;
  }

  .second-main-section > img {
    text-align: center;
    margin-right: 21px;
  }

  
}



@media (max-width:767px) {
  .contact-clean {
    padding: 20px 0;
  }

  .parag-copy {
    
    font-size: 9px;
  
    height: 10px;
    text-align: center;
    
  }
}

@media (min-width: 992px) {
  .read-more.about-read-more {
    margin-top: -35px;
  }
}

@media (min-width: 1200px) {
  .read-more.about-read-more {
    margin-top: -58px;
    margin-left: -12px;
  }
}