body {
    /*padding-bottom: 0;*/
    font-family: "Exo", sans-serif!important;
    /*margin-right: 0;*/
    /*margin-left: 0;*/
    /*margin: 0;*/
    /*background: #bc0707 !important;*/
  }
  
/* very top contact bar */
#topHeader {
  border-bottom: 1px solid #ebebeb;
  max-height: 49px;
}
#topHeader a {
    color: #34495e;
    font-weight: 575;
    font-size: 12px;
    text-decoration: none;
  }
/* End  top contact bar */